language: php

php:
  - 5.6

addons:
  code_climate:
    repo_token:
      secure: "tU3dbZXMnpwwrGf74JWiaTjc2P6VyHpAPok3GGSeCr4ZGKEJpYhCqcxwXA4YprPnv1pCDJVKv2cCUfOrpC4CCycx81JxCHcTn7BykYIR4Y96lq/0AP+3B7B3KvuGIcYoIYngvyKwKTkNvUcmoASEqz149e5MEg/kIAsFztekorlnKnRIUNyFnweKWE6G3mjEh+QE5LcTh4fH6kgOB0N3K7pRoBpgbZ2vmTIJ9znU91O3bFo47eYlpqHCwCpK5pHSJwpr0RLEDQAQRmiw8i6w/sg01HCl9oSQ6HD+thxYtcA/Xyekgd2Q8wNYd7Yr2J2AHWW9bP1FkGBYdOj9JgaVipu+atcSatEnvey7C0Rdqcwq2LRHDBn2toe7qjXM/v10sHAjQ3XUlTIwVU6FSKlClxG1LooLAicYI9lDLnIUhbvXcONWVHUWG7vEuz8yxEP4J2LPLkD5/F8ML7gFNG3iNmZUmNLTOwPcX17m5wjhvxtrzZbbSDFuGiTSza44ZCavDyOp+elgRloMYp/SQsyVEhlcxN9BMlKYwl+OREtZLBZkXdP/MXI2kMWnhtkfu5giZZVDI4+7IVHLivduNncg+2r579xHL3IbDBArJFNkAsgb2NhTrkB/RRdBt72Za2VR2nZDAhVq2XKRZ9vKoUif032ini6Nfs+wji9nV4N/UJs="

before_script:
  - composer install --prefer-source --no-interaction --dev
  - composer dump-autoload

script: phpunit

after_script:
  - vendor/bin/test-reporter